.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Search Tips*/
input {
  width: 250px;
  padding: 8px;
  border-radius: 10px;
}

/* Tips layout */
.tip-card {
  display: flex;
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.tip-card img {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

.no-result {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: red;
}

#result-count {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

#loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.tips-layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
}

.alphabet-filter {
  width: 260px;
}

.alphabet-filter p {
  font-weight: bold;
}

#alphabet-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.alphabet-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #e1ddc3;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.alphabet-btn:hover {
  background-color: #d6d1c4;
}

.alphabet-btn.active {
  background-color: #bcb69d;
}

.tips-content {
  flex: 1;
}

.category-title {
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}