 .container{
    width:85%;
    margin:auto;
    margin-top:2%;
}

/* TITLE */

.container h1{
    font-size:32px;
    margin-bottom:8px;
}


.subtitle{
    font-size:20px;
    color:#444;
    margin-bottom:25px;
}

/* LINE */

.line{
    height:1px;
    background:#a8a8a8;
    margin:25px 0;
}

/* FEATURED NEWS */

.featured-news{
    display:flex;
    gap:25px;
    margin-bottom:25px;
}

.featured-news img{
    width:320px;
    height:180px;
    object-fit:cover;
}

.featured-content h2{
    font-size:28px;
    margin-bottom:10px;
}

.featured-content p{
    font-size:18px;
    line-height:1.6;
    color:#333;
}

/* SMALL NEWS SECTION */

.news-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:50px;
}

/* NEWS CARD */

.news-card img{
    width:100%;
    height:170px;
    object-fit:cover;
    margin-bottom:15px;
}

.news-card h2{
    font-size:18px;
    line-height:1.5;
    transition:0.3s;
    text-align:center;
}

.news-card h2,
.featured-content h2{
    transition: 0.3s;
}

.news-card h2:hover,
.featured-content h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.news-card p{
    margin-top:10px;
    line-height:1.5;
    color:#444;
}

/* RESPONSIVE */

@media(max-width:900px){

    .featured-news{
        flex-direction:column;
    }

    .featured-news img{
        width:100%;
    }

    .news-grid{
        grid-template-columns:1fr;
    }
}