.alphabet-filter {
  width: 700px;
}

.alphabet-filter p {
  font-weight: bold;
}

/* Alphabet Container */
#alphabet-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

/* Alphabet Button */
.alphabet-btn {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;

  background-color: #e1ddc3;

  color: black;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.alphabet-btn:hover {
  background-color: #d6d1c4;
}

.alphabet-btn.active {
  background-color: #bcb69d;
}