.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Search + Filter */
.search-filter-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;

  margin-top: 40px;
}

/* Search Section */
.search-section {
  width: 350px;
}

/* Tips Content */
.tips-content {
  margin-top: 70px;
}