body{
    margin: 0;
}

.header{
    height: 110px;
    background-color: #f9f6e6;
    padding-top: 10px;
    padding-left: clamp(0px, 9%, 100px);
    display: flex;
    align-items: center;
}
.logo{
    width: 125px;
    height: 100px;
}
.menu-button{
    background-color: #f9f6e6;
    border: none;
    color: black;
    text-decoration: none;
    width: auto;
    font-size: 27px;
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 14px;
    display: inline-block;
}
.menu-button:hover{
    background-color: #e1ddc3;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #d6d1c4;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Search Tips*/
input {
  width: 250px;
  padding: 8px;
  border-radius: 10px;
}

/* Tips layout */
.tip-card {
  display: flex;
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.tip-card img {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

.no-result {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: red;
}

#result-count {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

#loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.tips-layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
}

.alphabet-filter {
  width: 260px;
}

.alphabet-filter p {
  font-weight: bold;
}

#alphabet-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.alphabet-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #e1ddc3;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.alphabet-btn:hover {
  background-color: #d6d1c4;
}

.alphabet-btn.active {
  background-color: #bcb69d;
}

.tips-content {
  flex: 1;
}

.category-title {
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

html {
  scroll-behavior: smooth;
}

#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  padding: 12px 18px;

  border: none;
  border-radius: 50px;

  background-color: #d6d1c4;
  color: black;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  display: none;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  transition: 0.3s;
}

#backToTopBtn:hover {
  background-color: #bcb69d;
}